<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Welcome</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.build.tailwind.css}" />
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<h1 class="text-xs">Welcome</h1>
		<h2 th:utext="${message}">..!..</h2>

		<div class="shadow h-12 w-24 bg-slate-600 hover:bg-orange-500 transition duration-200">..!..</div>

		<a th:href="@{/personList?query=Thymeleaf}" class="text-2xl font-bold">Person List</a>
	</body>
</html>
