<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Rattr List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Professeur</h1>
     
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th>NOM</th>
               <th>SUJET</th>
               <th>DATE</th>
               <th>STATUTS</th>
            </tr>
            <tr th:each ="rattr : ${rattr}">
				<td th:utext="${rattr.name}">...</td>
				<td th:utext="${rattr.exam}">...</td>
				<td th:utext="${rattr.resit_date}">...</td>
            </tr>
         </table>
      </div>
   </body>
</html>